@media screen and (max-width: 800px) {
  /* ここに横幅が767px以下の時に発動するスタイルを記述 */
  
  
  #content{
    display: none;
  }
  
  #link_content{
    display: none;
  }

  #mobile_content{
    display: block;
  }
  }
  
  @media screen and (min-width: 800px) {
  /* ここに横幅が767pxより大きい時に発動するスタイルを記述 */
  
  
  #content{
    display: block;
  }
  
  #mobile_content{
    display: none;
  }

  #link_content{
    display: inline-block;
  }


  }
  




*{
    font-family: kosugi, Arial;  

}
span ul{
    list-style: none;
    display: inline-block;
}
span li{
    display: inline-block;
    font-size: 24px;
    vertical-align: 32%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 2px 8px;
}
#header_content img{
    margin-left: 10px;
    height: 42px;
}

#header_content{
  margin: 0px;
  padding-top: 6px;
}

#header_sc img{
    margin-left: 10px;
    height: 42px;
}

#header_sc{
  margin: 0px;
  padding-top: 6px;
  position: fixed;
  width: 98%;
  box-shadow: 0px 0px 4px 0px #ddd;
  border-radius: 20px;
  background: #fff;
  margin-top: -8px;
  animation: 0.2s upto_0;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  
}

@keyframes upto_0 {
    0%{
        transform: translateY(-100%);
    }

    100%{
        transform: translateY(0%);
    }
}

@keyframes downup_0 {
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0%);
    }
}

#logo_img:hover{
    background: #3333331a;
    
    border-radius: 10px;
}

#logo_img:active{
    background: #1414143a;
    
    border-radius: 10px;
}




li:active{
    background: #1414143a;
    
    border-radius: 10px;
}

a{
    text-decoration: none;
}

#color_mode_select{
    position: fixed;
  bottom: 20px;
  right: 20px;
  display: inline-block;
  width: 38px;
  height: 38px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

/* HTML: <div class="loader"></div> */
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #87edff;
    animation:
      l20-1 0.8s infinite linear alternate,
      l20-2 1.6s infinite linear;
  }
  @keyframes l20-1{
     0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
     12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
     25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
     50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
     100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
  }
  @keyframes l20-2{ 
    0%    {transform:scaleY(1)  rotate(0deg)}
    49.99%{transform:scaleY(1)  rotate(135deg)}
    50%   {transform:scaleY(-1) rotate(0deg)}
    100%  {transform:scaleY(-1) rotate(-135deg)}

    
  }
  

#splash{
    width: 100%;
    height: 100vh;
    
}

#logo{
  display: inline-block;
  border-radius: 10px;
  padding-top: 5px;
  padding-right: 12px;
  cursor: pointer;
}

#logo:hover{
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #ddd;
    background: #ffffff1a;
    padding-top: 5px;
    padding-right: 12px;
    cursor: pointer;
  }
  



#menu{
  position: fixed;
  padding: 32px;
  box-shadow: 0px 0px 4px 0px #ddd;
  border-radius: 10px;
  top: 78px;
  z-index: 4;
}

@keyframes updown-anime {
    0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0%);
      }
    }
    
  
    @keyframes downup-anime {
        0% {
            transform: translateX(0%);
          }
          100% {
            transform: translateX(-100%);
          }   
}

#logo_img{
  display: inline-block;
}


#p_menu{
  padding: 55px;
  position: fixed;
  top: 98px;
  left: 138px;
  box-shadow: 0px 0px 4px 0px #ddd;
  border-radius: 10px;
  background: #fff;z-index: 5;
  width: 500px;height: 195px;
}

